sudo: false
git:
  depth: 1
language: node_js
node_js:
- "6.1"
os:
- linux
before_cache:
#  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
#  - rm -rf $HOME/.gradle/caches/2.*
cache:
  directories:
#    - $HOME/.gradle/caches/
#    - $HOME/.gradle/wrapper/
install:
  - nvm install stable
  - nvm alias default stable
  - source setup_env.sh
  - npm install
  - typings install
  - bower install
script:
  - gulp default
